name: Backend CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake g++ libasio-dev

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -S ${{github.workspace}}/Backend -DCMAKE_BUILD_TYPE=Release

      - name: Build Project
        run: cmake --build ${{github.workspace}}/build --config Release --parallel

      - name: Run Tests
        run: |
          cd ${{github.workspace}}/build
          ctest --output-on-failure
