name: CMake Catch2 CI

# Triggers the workflow on push, pull request, and manual dispatch
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

  # Enables manual run button in the GitHub Actions tab
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake g++

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -S ${{github.workspace}} -DCMAKE_BUILD_TYPE=Release

      - name: Build Project
        run: cmake --build ${{github.workspace}}/build --config Release --parallel

      - name: Run Catch2 Tests
        run: |
          cd ${{github.workspace}}/build
          ctest --output-on-failure