name: Frontend CI

# Triggers the workflow on push, pull request, and manual dispatch
on:
  push:
    branches: [ "main", "master" ]
  pull_request:

  # Enables manual run button in the GitHub Actions tab
  workflow_dispatch:

jobs:


  frontend-build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: Frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build and Type Check
        run: npm run build
